{% extends "base_generic.html" %}

{% block title %}
    <title>Group Info</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>{{group.name}}</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'group_update' group.id%}">Update Group</a>
            {% if total_user == 0 %}
                <a class="btn btn-danger  btn-sm btn-block" href="{% url 'group_delete' group.id %}">Delete Group</a>
            {% else %}
                <p>Не можна видалити групу в якій є користувачі</p>
            {% endif %}
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Group Information</h5>
			<hr>
			<p>Name: {{group.name}}</p>
			<p>Description: {{group.descripion}}</p>
            <p>the total number of users in the group: {{total_user}}</p>
		</div>
	</div>
</div>
{% endblock %}